@model List<TransactionViewModel>
@{
    ViewData["Title"] = "Transactions";
}
<div class="row">
    <div class="col-md-12">
        <div>
            @{
                var categories = ViewBag.Categories as List<CategoryViewModel>;
            }
            @if (categories != null && categories.Any())
            {
                <select id="categoryId" name="categoryId" class="form-control">
                    <option value="">(all)</option>
                    @foreach (var category in categories)
                    {
                        var selected = $"{category.Id}" == ViewBag.CategoryId;
                        @if (selected)
                        {
                            <option value="@category.Id" selected>@category.Name</option>
                        }
                        else
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    }
                </select>
            }
        </div>
        <div class="form-group form-check mt-3">
            <label class="form-check-label">
                <input id="pending" name="pending" type="checkbox" class="form-check-input" @(ViewBag.Pending ? "checked" : "") /> Pending
            </label>
        </div>
        <div class="table-responsive-md mt-3">
            <div class="transaction-list">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Amount</th>
                            <th>Category</th>
                            <th class="d-none d-lg-table-cell">Account</th>
                            <th>Created</th>
                            <th class="d-none d-lg-table-cell">Modified</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var now = DateTime.UtcNow;
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a asp-area="" asp-controller="Transaction" asp-action="Edit" asp-route-id="@item.Id" class="">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td>
                                    @{
                                        var type = Enum.Parse<Expenses.Web.Business.Data.TransactionType>(item.Type);
                                        if (type == Expenses.Web.Business.Data.TransactionType.Debet)
                                        {
                                            <text>-</text>
                                        }
                                    }

                                    @if (item.Pending)
                                    {
                                        <span class="text-red">@Math.Round(item.Amount, 2)</span>
                                    }
                                    else
                                    {
                                        <span>@Math.Round(item.Amount, 2)</span>
                                    }
                                </td>
                                <td>
                                    @item.Category.Name
                                </td>
                                <td class="d-none d-lg-table-cell">
                                    @item.Account.Name
                                </td>
                                <td>
                                    @{
                                        var fmt = string.Empty;

                                        if (now - item.Created <= TimeSpan.FromDays(2))
                                        {
                                            fmt = "dd.MM.yyyy HH:mm:ss";
                                        }
                                        else
                                        {
                                            fmt = "dd.MM.yyyy";
                                        }

                                        @item.Created.ToString(fmt);
                                    }
                                </td>
                                <td class="d-none d-lg-table-cell">
                                    @(item.Modified.HasValue ? item.Modified.Value.ToString(fmt) : "-")
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <nav aria-label="" class="mt-2">
            <ul class="pagination pagination-sm justify-content-center">
                @if (ViewBag.Index > 0)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("List", "Transaction", new { page = 0 })" aria-label="">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("List", "Transaction", new { page = ViewBag.Index - 1 })" aria-label="">
                            <span aria-hidden="true">&larr;</span>
                        </a>
                    </li>
                }

                @{
                    var paginationSize = 4;
                    var start = Math.Max(0, ViewBag.Index - 2);
                    var end = Math.Min(start + paginationSize, ViewBag.Pages - 1);
                }

                @for (var pageIndex = start; pageIndex <= end; pageIndex++)
                {
                    if (pageIndex == ViewBag.Index)
                    {
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">
                                @(pageIndex + 1)
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("List", "Transaction", new { page = pageIndex })">
                                @(pageIndex + 1)
                            </a>
                        </li>
                    }
                }

                @if (ViewBag.Index < ViewBag.Pages - 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("List", "Transaction", new { page = ViewBag.Index + 1 })" aria-label="">
                            <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("List", "Transaction", new { page = ViewBag.Pages -1 })" aria-label="">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
        <a class="btn btn-light" asp-area="" asp-controller="Transaction" asp-action="Edit">
            <i class="fa fa-plus"></i> Add
        </a>
    </div>
</div>

@section Styles {
    <link href="~/css/Transactions.css" rel="stylesheet" />
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var $categoryId = $('#categoryId');
            var $pending = $('#pending');

            $categoryId.on('change', function (ev) {
                var value = $(this).val();
                var url = '/Transaction/List?page=0&categoryId=' + (value == '' ? 'null' : value) + '&pending=' + $pending.is(':checked');
                window.location.href = url;
            });

            $pending.on('change', function (ev) {
                $categoryId.trigger('change');
            });
        });
    </script>
}