@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-12">
        <div class="card text-center">
            <div class="card-body">
                <a asp-area=""
                   asp-controller="Transaction"
                   asp-action="Edit"
                   asp-route-returnUrl="@Url.Action("Index", "Default")"
                   asp-route-type="@Enum.GetName(typeof(Expenses.Web.Business.Data.TransactionType), Expenses.Web.Business.Data.TransactionType.Credit)"
                   class="btn btn-outline-success btn-sm">Credit transaction</a>

                <a asp-area=""
                   asp-controller="Transaction"
                   asp-action="Edit"
                   asp-route-returnUrl="@Url.Action("Index", "Default")"
                   asp-route-type="@Enum.GetName(typeof(Expenses.Web.Business.Data.TransactionType), Expenses.Web.Business.Data.TransactionType.Debet)"
                   class="btn btn-outline-warning btn-sm">Debet transaction</a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-md-12">
        <div class="card-group">
            @if (ViewData["maxExpensiveCategory"] != null)
            {
                var maxExpensiveCategory = (KeyValuePair<string, Expenses.Web.Business.Mediator.Default.Overview>)ViewData["maxExpensiveCategory"];
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Most expensive category
                        </h5>
                        <p class="card-text">
                            @maxExpensiveCategory.Key: @Math.Round(maxExpensiveCategory.Value.Debet, 2)
                        </p>
                    </div>
                </div>
            }
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Overview by category</h5>
                    <p class="card-text">Overal flow of credits and debets from all accounts.</p>
                </div>
                <div class="card-body">
                    @{
                        await Html.RenderPartialAsync("_OverviewByCategory", (Dictionary<string, Expenses.Web.Business.Mediator.Default.Overview>)ViewData["overviewByCategory"]);
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
}
